# ================= 基础 =================
DOMAIN=blog.aa.com
WS_PATH=/connect
NAME=halo

# ================= VLESS =================
USERS=3

# ================= LunaTV =================
LUNATV_USER=admin

# ================= NPM =================
NPM_HTTP_PORT=80
NPM_HTTPS_PORT=443
NPM_ADMIN_PORT=81
